{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@modules": "./modules",
          "@shared": "./modules/shared"
        }
      }
    ],
    "inline-react-svg"
  ]
}
